html{
    min-height: 100%;
}
body{
    background-image: linear-gradient(100deg, #D4F1F4, #20c7e9); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;    
}

#main{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    background-color: #1199d4;
    border-radius: 20px;
    box-shadow: 10px 10px 8px  #3a3a3a;
    align-items: center;
}
@media all and (max-width: 600px) {
    #main {
        margin-left:10%;
        margin-right: 10%;
        margin-top: 30%;
    }
  }
/* For all buttons */
button{
    display: flex;
    float: right;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1ad9ff;
    box-shadow: 0 5px 5px 0 #0000005b,0 17px 50px 0 rgba(0, 0, 0, 0.34);
    color: black;
    border: white;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
button:hover {
    box-shadow: 0 10px 10px 0 #0000005b,0 17px 50px 0 rgba(0, 0, 0, 0.34);
    background-color: #58e3ff;
    color: black;
  }

/* This is for nav bar */
#nav_bar{
    display: flex;
    background-color: rgba(20, 20, 20, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(8px);
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}

#heading{
    width: 50%;
    font-weight:500;
    font-size: x-large;
    font-family:sans-serif;
    color: #D4F1F4;
    align-content: center;
}

#lbut{
    flex-grow: 1;
}

/* Inserting file Area */
#file_area{
    display: block;
    width: 100%;
    background-color: #1554a7;
    border: #358dff;
    border-style:solid;
    border-width: 1px;
    /* padding-top: 10px; */
    height: 257px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 50px;
}

#cert_id{
    margin-top: 40px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    width: 450px;
}
@media all and (max-width: 850px) {
    #cert_id {
        width: 250px;
    }
}

  #name_id{
    margin-top: 10px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    width: 850px;
    text-align: center;
}
@media all and (max-width: 850px) {
    #name_id {
        width: 250px;
    }
  }



#text_cert_upload{
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(255, 247, 0);
}

#text_cert_upload_data{
    font-family: sans-serif;
    font-weight: 200;
    color: white;
    background-color: #00b3ff;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}
#text_cert_upload_data_id{
    font-family: sans-serif;
    font-weight: 200;
    color: white;
    background-color: #00b3ff;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}
#buttons_main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#viewBdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10%;
}

#viewB{
    background-color: rgb(80, 255, 103);
}
#viewA{
    background-color: rgb(255, 81, 81);
    color: white;
}

#viewAdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    padding: 10px;
}


#loginarea{
    display:list-item;
    width: auto;
    background-color: #1554a7;
    border: #358dff;
    border-style:solid;
    border-width: 1px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    text-align: left;
    line-height: 50px;
    padding: 3dvh;

    list-style-type: none;
}

#userid{
    width: 100%;
    border-radius: 10px;
    height: 30px;
}

#pass{
    width: 100%;
    border-radius: 10px;
    height: 30px;
}
#buttonArea{
    display: block;
    padding: 50px;
    width: auto;
    height: 253px;
    overflow-y: scroll;
    background-color: #1554a7;
    border: #1554a7;
    border-style:solid;
    border-width: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

#add_cert_but{
    width: 90%;
    margin-bottom: 50px;
    font-size:large;
}



#Logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

}

#balance{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1%;
    border-radius: 10px;
}
@media all and (max-width: 600px) {
    #balance {
        margin-left:10%;
        margin-right: 10%;
    }
  }


  #loading{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10px;
    height: 10px;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 48%;
    margin-right: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1%;
    border: 6px solid;
    border-color: blue transparent blue transparent;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}
@media all and (max-width: 600px) {
    #loading {
        margin-left: 45%;
    margin-right: 45%;
    }
  }

  @keyframes spin{
    to{
        transform: rotate(360deg);
    }
  } 